@import 'variables';

.footer {
    .container {
        background-color: $black-color;
        color: $white-color;
        display: flex;
        justify-content: space-between;
        padding: 30px;

        .footer__info-left {
            width: 170px;

            & img {
                transform: translate(-15%);
                width: 150px;
                margin-bottom: 20px;
            }

            & p {
                margin-bottom: 10px;
                font-size: 13px;
            }

            & h5 {
                margin-bottom: 20px;
                font-size: 13px;
            }

            .payment {
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & img {
                    width: 40px;
                    margin: 0;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }

        .footer__info-right {
            display: flex;
            justify-content: space-between;
            align-items: start;
            width: 70%;
            .clients {
                & p{
                    font-size: 14px;
                    padding: 10px 0 10px;
                }
                & img {
                    width: 30px;
                    height: 30px;
                    transition: .2s ease;
                    margin-right: 7px;
                    &:hover{
                        opacity: 0.8;
                    }
                }
            }
            .contacts li {
                position: relative;
            }
            .contacts li:first-child::before {
                position: absolute;
                content: "";
                background-image: url(../img/footer-img/phone-ico.png);
                background-size: cover;
                width: 20px;
                height: 20px;
                top: 0;
                left: -26px;
            }
            .contacts li:nth-of-type(5):before {
                position: absolute;
                content: "";
                background-image: url(../img/footer-img/message-ico.png);
                background-size: cover;
                width: 40px;
                height: 40px;
                top: -10px;
                left: -37px;
            }
            .location {
                & a:nth-of-type(1){
                    position: relative;
                }
                & a:nth-of-type(1)::before {
                    position: absolute;
                    content: "";
                    background-image: url(../img/footer-img/location-ico.png);
                    background-size: cover;
                    width: 20px;
                    height: 20px;
                    top: -4px;
                    left: -21px;
                }
            }
            .catalog,
            .clients,
            .contacts,
            .location {
                width: 150px;
                & .title, .location__title {
                    font-weight: 600;
                    font-size: 12px;
                    color: darken(red, 12%);
                    padding-bottom: 10px;
                }
                & a {
                    color: $white-color;
                    font-size: 10px;
                    transition: .2s ease;
                    &:hover {
                        color: lighten($orange-color, 2%)
                    }
                }
                & li {
                    padding-bottom: 8px;
                }
            }
        }
    }
}